@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
header{
    width: 100%;
    height: 100px;
    background-color: #59b6ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
header>div{
    text-align: center;
    width: 100px;
}
body{
    margin: 0;
}
main{
    margin-top: 25px;
    display : flex;
    flex-direction : column;
    align-items : center;
}
.neuro-quiz{
    margin-bottom: 20px;
}
.neuro-quiz h3{
    margin: 5px;
}
.quizes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}
.quiz{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 200px;   
    height: 250px;
    background-color: #59b6ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.neuro-controls{
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 5px;
}
.neuro-controls>input{
    border-radius: 5px;
    border: 2px solid #a5d8ff;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}
.quiz>h3{
    font-size: 16px;
    font-weight: 500;
    height: 35px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.buttons>a{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    width: 70px;
    height: 25px;
    background-color: #a5d8ff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.quiz>img{
    height: 100px; 
    width: 100px;
}

.warning{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 800px;
    height: 100px;
    border: 2px solid #931414;
    text-align: center;
    color:#a11e1e;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.buttons{
    display: flex;
    gap: 10px;
}