{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>КРОШ</h1>
    <img src="https://static.wikia.nocookie.net/smesharikiarhives/images/c/c1/%D0%9A%D1%80%D0%BE%D1%88_%D0%A2%D0%97.png/revision/latest/scale-to-width-down/350?cb=20200929162518&path-prefix=ru" alt="">
    <p>Крош — один из главных персонажей мультипликационной франшизы <a href="https://losyash-library.fandom.com/ru/wiki/%D0%A1%D0%BC%D0%B5%D1%88%D0%B0%D1%80%D0%B8%D0%BA%D0%B8">«Смешарики»</a>, весёлый и энергичный кролик мужского пола, живущий в Ромашковой Долине вместе с другими Смешариками.</p>
    <p> Судя по тому, что он единственный Смешарик из Долины, который не занесён в Красную книгу, принадлежит к распространённому виду кроликов. В серии Пин-Кода «ДНК» показан портрет родственника Кроша, но кроме внешности о нём ничего не известно. Известно, что Крош вырос в Долине Смешариков. Женский аналог Кроша в параллельной вселенной — Кроля.</p>
    <h2>Биографические данные</h2>
    <ul>
        <li>День рождения: 29 декабря</li>
        <li>Место проживания: Земля, Долина смешариков</li>
        <li>Родственники: Восьмиюродная тётя, шорк</li>
        <li>Друзья: Ёжик (лучший друг) </li>
        <li>Любимая фраза: «Ёлки-иголки!»</li>
    </ul>
    <h2>Физическая информация</h2>
    <ul>
        <li>Пол: Мужской </li>
        <li>Вид: Кролик</li>
        <li>Цвет шерсти: Голубой </li>
        <li>Цвет глаз: Голубой </li>
    </ul>
    <h2>Характер</h2>
    <p> Крош — гиперактивный и жизнерадостный кролик. Крош оптимистичен, ведёт очень активный образ жизни и постоянно находится в состоянии мобилизации. Крош крайне общителен, состоит в дружеских отношениях со сверстниками и с частью взрослого населения. Однако в некоторых сериях проявляется сентиментальность и чувствительность Кроша.</p>
    <h2>Предпочтения</h2>
    <p>Любимая еда Кроша — <a href="https://losyash-library.fandom.com/ru/wiki/%D0%9C%D0%BE%D1%80%D0%BA%D0%BE%D0%B2%D1%8C">морковь</a>. Крош очень любит морковку, коллекционирует её. Его рекорд — 40 ящиков. Для Кроша морковь выращивает Копатыч. Крош также судя по всему является неким перераспределителем моркови. При этом Крош любит оставаться при себе. Помимо него, морковь также ест Ёжик (однако в одной серии он сказал, что не любит её).</p>
    <p> </p>
    <p>Крош, в силу своей активности, очень спортивен. Его любимое занятие — прыжки куда угодно. Крош крайне прыгучий, часто заменяет ходьбу прыжками. Кроме того, Крош умеет стоять на ушах, прыгать на ушах и закручивать уши. В одной из серий, из-за того что ему закрутило уши, он взлетел, используя уши как пропеллер. При этом Крош очень плохо бегает на дальние расстояния.</p>
    <!-- <input type="text"> -->
    <h2>Интересные факты</h2>
    <ol>
        <li>Крош — первый персонаж, появляющийся как в самом мультсериале, так и в его заставке. </li>
        <li>К 2012 году был выпущен поздравительный ролик «Новогоднее обращение к гражданам России», в котором Крош выступает на фоне Красной площади, что является отсылкой к ежегодному поздравлению президента.</li>
        <li>Фраза «Ёлки-иголки!» до Кроша использовалась Бобром из мультфильма <a href="http://en.wikipedia.org/wiki/ru:%D0%9F%D0%BE%D0%BF%D0%B0%D0%BB%D1%81%D1%8F,_%D0%BA%D0%BE%D1%82%D0%BE%D1%80%D1%8B%D0%B9_%D0%BA%D1%83%D1%81%D0%B0%D0%BB%D1%81%D1%8F!">«Попался, который кусался!».</a></a> </li>
        <li>В серии <a href="https://losyash-library.fandom.com/ru/wiki/%D0%A8%D0%B0%D1%80-%D1%8D%D0%BA%D1%81%D0%BF%D1%80%D0%B5%D1%81%D1%81">«Шар-экспресс»</a> сказано, что любимый цвет Кроша — оранжевый.</li>
        <li>Рост Кроша — 95 см (с учётом длины ушей). Однако в серии «Двигатель прогресса» говорится, что его рост — 25 см (без учёта ушей).</li>
    </ol>
</body>
</html>