{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/addquestion.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <div></div>
        <h1>Вопросы к "{{quiz.title}}"</h1>
        {% if user %}
        <div class="profile"><a href="{% url 'profile'%}">{{user.name}}</a></div>
        {% else %}
        <div><a href="signin/">Войти</a></div>
        {% endif %}
    </header>
    <main>
        <div class="questions">
            <div class="question-cards">
                {% for question in questions %}
                <div class="question">
                    <input type="hidden" value="{{question.id}}" class="qid">
                    <p class = "question-delete"><span class ="qtitle">{{question.title}}</span><span class ="qdelete">×</span></p>
                    {% if question.kind == "WV" %}
                    <ul>
                        {% for answer in question.answers %}
                            {% if answer.correct %}
                            <li class="answer correct-answer">
                                <input type="hidden" value="{{answer.id}}" class="aid">
                                {{answer.text}}</span><span class ="andelete">×</span>
                            </li>
                            {% else %}
                            <li class="answer">
                                <input type="hidden" value="{{answer.id}}" class="aid">
                                {{answer.text}}</span><span class ="andelete">×</span>
                            </li>
                            {% endif %}
                        {% endfor %}
                        {% if question.answers|length < 4 %}
                        <li class="add-answer">+</li>
                        {% endif %}
                    </ul>
                    {% elif question.kind == "TF" %}
                    <div class="add-correct-answer">
                        {% if question.correct %}
                            <input type="hidden" value="{{question.id}}" class="qid">
                            <p class="text-answer">{{ question.correct }}<span class ="text-delete">×</span></p>
                        {% else %}
                            <input type="text" class="adding-correct">
                            <button class="end-adding-correct">✓</button>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <button class="add-question">Добавить вопрос</button>
        </div>
    </main>
    {% csrf_token %}
    <script src="{% static 'js/questions.js' %}"></script>
</body>
</html>